<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find mingurdf)/urdf/mingurdf.urdf" />
    <!-- 发布关节状态-->
  <node 
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
    <!--发布TF坐标-->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find mingurdf)/config/first.rviz" />
</launch>