<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
     <param name="robot_description" textfile="$(find mingurdf)/urdf/mingurdf_copy.urdf" />
  <!--<node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />-->
  <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model arm -param robot_description"  />

    <include file="$(find myrobot_control)/launch/myrobot_control.launch" />
  <!--
    
    <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" /> -->
</launch>
